<div class="city-card"
     itemprop="blogPosts"
     itemscope=""
     itemtype="http://schema.org/BlogPosting">
  <div class="city-background"  style="background-image: url({{ site.baseurl }}/assets/img/cards/ismirexplorer.png)">
  </div>
  <a href="http://ismir-explorer.ai.ovgu.de/app/#1995">
    <h1 style="color: #F07D00;">The ISMIR Explorer now integrates 2020 papers!</h1>
    <div class="description">
      <p>The ISMIR Explorer, a visual interface for Exploring ISMIR Publications by Low et al. (2019) is now featuring the papers from ISMIR 2020!<br/><br/>
        Check it out > </p>
    </div>
  </a>
</div>
