<div class="city-card"
     itemprop="blogPosts"
     itemscope=""
     itemtype="http://schema.org/BlogPosting">
  <div class="city-background"  style="background-image: url({{ site.baseurl }}/assets/img/cards/mirex_logo.png)">
  </div>
  <a href="https://www.music-ir.org/mirex/wiki/2020:MIREX2020_Results">
    <h1 style="color: #F07D00;">MIREX 2020 Results!</h1>
    <div class="description">
      <p>The results for the 16th running of the Music Information Retrieval Evaluation eXchange (MIREX 2020) are available now.<br/><br/>
        Find out more > </p>
    </div>
  </a>
</div>
